@charset "UTF-8";

body{
    background-color:rgb(190, 255, 233);
    font-family: Arial, Helvetica, sans-serif;
}

#centro{
    text-align: center;
}

.principal{
    color:blue
}
.basico{
    color:rgba(0, 0, 255, 0.357);
}
.intermediario{
    color:rgba(0, 0, 255, 0.357);
}

.avancado{
    color:rgba(0, 0, 255, 0.357);
}
